In [1]:
import os
import pandas as pd
import numpy as np

In [2]:
path = 'C:/Users/yuche/Dropbox/risk hedging/jupyter/original_data/year2017'

In [3]:
os.chdir(path)

# starting preprocessing price

In [18]:
#price_file = pd.read_csv('day_ahead_price_2019.csv', sep = ";")
price_file = pd.read_csv('day_ahead_price_2017.csv', sep = ";")
price_file.head()

,Date,Time of day,Germany/Luxembourg[€/MWh],Denmark 1[€/MWh],Denmark 2[€/MWh],France[€/MWh],Northern Italy[€/MWh],Netherlands[€/MWh],Poland[€/MWh],Sweden 4[€/MWh],Switzerland[€/MWh],Slovenia[€/MWh],Czech Republic[€/MWh],Hungary[€/MWh],Austria[€/MWh],"Germany/Austria/Luxembourg[€/MWh],"
0,"1-Jan, 2017",12:00 AM,-,20.96,20.96,58.82,53.00,42,24.03,24.03,57.04,53.00,18.5,57.25,-,20.96
1,"1-Jan, 2017",1:00 AM,-,20.90,20.90,58.23,52.00,49.94,24.03,24.03,51.94,52.00,13.0,50.21,-,20.90
2,"1-Jan, 2017",2:00 AM,-,18.13,18.13,51.95,51.00,51.95,24.02,24.02,49.07,51.00,16.0,44.04,-,18.13
3,"1-Jan, 2017",3:00 AM,-,16.03,16.03,47.27,47.27,40.99,23.04,23.19,45.01,47.27,16.4,32.81,-,16.03
4,"1-Jan, 2017",4:00 AM,-,16.43,16.43,45.49,45.49,39,18.87,24.1,42.4,45.49,16.0,28.41,-,16.43

In [19]:
price_file.tail()

,Date,Time of day,Germany/Luxembourg[€/MWh],Denmark 1[€/MWh],Denmark 2[€/MWh],France[€/MWh],Northern Italy[€/MWh],Netherlands[€/MWh],Poland[€/MWh],Sweden 4[€/MWh],Switzerland[€/MWh],Slovenia[€/MWh],Czech Republic[€/MWh],Hungary[€/MWh],Austria[€/MWh],"Germany/Austria/Luxembourg[€/MWh],"
8755,"31-Dec, 2017",7:00 PM,-,25.56,26.84,15.74,51.68,34.7,-,26.84,50.07,7.92,10.34,17.17,-,7.92
8756,"31-Dec, 2017",8:00 PM,-,11.02,25.94,12.74,50.00,33.7,-,25.94,47.74,4.06,6.66,10.3,-,4.06
8757,"31-Dec, 2017",9:00 PM,-,7.32,25.34,12.28,47.89,28.1,-,25.34,46.29,5.30,1.91,6.44,-,5.30
8758,"31-Dec, 2017",10:00 PM,-,1.86,25.68,11.86,45.18,32,-,25.68,42.58,1.86,7.50,10.3,-,1.86
8759,"31-Dec, 2017",11:00 PM,-,0.09,25.65,12.4,40.10,21.45,-,25.65,41.17,-0.92,2.50,15.05,-,-0.92

In [20]:
# price_file["Germany/Luxembourg[€/MWh]"].describe()
price_file["Germany/Austria/Luxembourg[€/MWh],"].describe()

count    8760.000000
mean       34.201192
std        17.615175
min       -83.060000
25%        27.787500
50%        33.825000
75%        40.570000
max       163.520000
Name: Germany/Austria/Luxembourg[€/MWh],, dtype: float64

In [21]:
# test = price_file.loc[24:,0:3]
test= price_file.loc[:, ['Date','Time of day','Germany/Austria/Luxembourg[€/MWh],']]
test

              Date Time of day  Germany/Austria/Luxembourg[€/MWh],
0      1-Jan, 2017    12:00 AM                               20.96
1      1-Jan, 2017     1:00 AM                               20.90
2      1-Jan, 2017     2:00 AM                               18.13
3      1-Jan, 2017     3:00 AM                               16.03
4      1-Jan, 2017     4:00 AM                               16.43
...            ...         ...                                 ...
8755  31-Dec, 2017     7:00 PM                                7.92
8756  31-Dec, 2017     8:00 PM                                4.06
8757  31-Dec, 2017     9:00 PM                                5.30
8758  31-Dec, 2017    10:00 PM                                1.86
8759  31-Dec, 2017    11:00 PM                               -0.92

[8760 rows x 3 columns]

In [22]:
new = test[test.index % 24 == 0]
new["Time of day"].describe()

count          365
unique           1
top       12:00 AM
freq           365
Name: Time of day, dtype: object

In [25]:
test.reset_index(drop = True, inplace = True) 
#test.rename(columns={"Germany/Luxembourg[€/MWh]":"act_price" }, inplace = True)
test.rename(columns={"Germany/Austria/Luxembourg[€/MWh],":"act_price" }, inplace = True) 
test

              Date Time of day  act_price
0      1-Jan, 2017    12:00 AM      20.96
1      1-Jan, 2017     1:00 AM      20.90
2      1-Jan, 2017     2:00 AM      18.13
3      1-Jan, 2017     3:00 AM      16.03
4      1-Jan, 2017     4:00 AM      16.43
...            ...         ...        ...
8755  31-Dec, 2017     7:00 PM       7.92
8756  31-Dec, 2017     8:00 PM       4.06
8757  31-Dec, 2017     9:00 PM       5.30
8758  31-Dec, 2017    10:00 PM       1.86
8759  31-Dec, 2017    11:00 PM      -0.92

[8760 rows x 3 columns]

# starting processing generation

In [27]:
#fg_file = pd.read_csv('ag_pv_2019.csv')
fg_file = pd.read_csv('ag_pv_2017.csv')
fg_file.head(30)

        local_time  electricity
0    1/1/2017 0:00        0.000
1    1/1/2017 1:00        0.000
2    1/1/2017 2:00        0.000
3    1/1/2017 3:00        0.000
4    1/1/2017 4:00        0.000
5    1/1/2017 5:00        0.000
6    1/1/2017 6:00        0.000
7    1/1/2017 7:00        0.000
8    1/1/2017 8:00       18.701
9    1/1/2017 9:00      109.819
10  1/1/2017 10:00      328.776
11  1/1/2017 11:00      487.850
12  1/1/2017 12:00      610.753
13  1/1/2017 13:00      554.370
14  1/1/2017 14:00      419.590
15  1/1/2017 15:00      192.210
16  1/1/2017 16:00        0.000
17  1/1/2017 17:00        0.000
18  1/1/2017 18:00        0.000
19  1/1/2017 19:00        0.000
20  1/1/2017 20:00        0.000
21  1/1/2017 21:00        0.000
22  1/1/2017 22:00        0.000
23  1/1/2017 23:00        0.000
24   1/2/2017 0:00        0.000
25   1/2/2017 1:00        0.000
26   1/2/2017 2:00        0.000
27   1/2/2017 3:00        0.000
28   1/2/2017 4:00        0.000
29   1/2/2017 5:00        0.000

In [29]:
#fg_file['electricity[kW]'].describe()
fg_file['electricity'].describe()

count    8760.000000
mean      142.113101
std       214.186930
min         0.000000
25%         0.000000
50%         0.330500
75%       237.859250
max       798.350000
Name: electricity, dtype: float64

In [30]:
#fg_file['electricity[kW]'] = fg_file['electricity[kW]'].apply(lambda x: x/1000).round(2)
fg_file['electricity'] = fg_file['electricity'].apply(lambda x: x/1000).round(2)
fg_file.head(30)

        local_time  electricity
0    1/1/2017 0:00         0.00
1    1/1/2017 1:00         0.00
2    1/1/2017 2:00         0.00
3    1/1/2017 3:00         0.00
4    1/1/2017 4:00         0.00
5    1/1/2017 5:00         0.00
6    1/1/2017 6:00         0.00
7    1/1/2017 7:00         0.00
8    1/1/2017 8:00         0.02
9    1/1/2017 9:00         0.11
10  1/1/2017 10:00         0.33
11  1/1/2017 11:00         0.49
12  1/1/2017 12:00         0.61
13  1/1/2017 13:00         0.55
14  1/1/2017 14:00         0.42
15  1/1/2017 15:00         0.19
16  1/1/2017 16:00         0.00
17  1/1/2017 17:00         0.00
18  1/1/2017 18:00         0.00
19  1/1/2017 19:00         0.00
20  1/1/2017 20:00         0.00
21  1/1/2017 21:00         0.00
22  1/1/2017 22:00         0.00
23  1/1/2017 23:00         0.00
24   1/2/2017 0:00         0.00
25   1/2/2017 1:00         0.00
26   1/2/2017 2:00         0.00
27   1/2/2017 3:00         0.00
28   1/2/2017 4:00         0.00
29   1/2/2017 5:00         0.00

In [31]:
fg = fg_file.iloc[0:8760,1].values
print(fg,len(fg))

[0. 0. 0. ... 0. 0. 0.] 8760

In [32]:
test['fore_gen'] = fg
test

              Date Time of day  act_price  fore_gen
0      1-Jan, 2017    12:00 AM      20.96       0.0
1      1-Jan, 2017     1:00 AM      20.90       0.0
2      1-Jan, 2017     2:00 AM      18.13       0.0
3      1-Jan, 2017     3:00 AM      16.03       0.0
4      1-Jan, 2017     4:00 AM      16.43       0.0
...            ...         ...        ...       ...
8755  31-Dec, 2017     7:00 PM       7.92       0.0
8756  31-Dec, 2017     8:00 PM       4.06       0.0
8757  31-Dec, 2017     9:00 PM       5.30       0.0
8758  31-Dec, 2017    10:00 PM       1.86       0.0
8759  31-Dec, 2017    11:00 PM      -0.92       0.0

[8760 rows x 4 columns]

# adding noise to actual price

In [33]:
noise = np.random.normal(0, 5, test.shape[0])
noise

array([ 0.5784039 , -6.09787195,  4.53086948, ..., -5.86630273,
        7.22168092, -2.47268341])

In [35]:
test["fore_price"] = (test["act_price"] + noise).round(2)
test

              Date Time of day  act_price  fore_gen  fore_price
0      1-Jan, 2017    12:00 AM      20.96       0.0       21.54
1      1-Jan, 2017     1:00 AM      20.90       0.0       14.80
2      1-Jan, 2017     2:00 AM      18.13       0.0       22.66
3      1-Jan, 2017     3:00 AM      16.03       0.0       22.27
4      1-Jan, 2017     4:00 AM      16.43       0.0       19.19
...            ...         ...        ...       ...         ...
8755  31-Dec, 2017     7:00 PM       7.92       0.0        0.48
8756  31-Dec, 2017     8:00 PM       4.06       0.0        6.72
8757  31-Dec, 2017     9:00 PM       5.30       0.0       -0.57
8758  31-Dec, 2017    10:00 PM       1.86       0.0        9.08
8759  31-Dec, 2017    11:00 PM      -0.92       0.0       -3.39

[8760 rows x 5 columns]

# starting processing date

In [36]:
#convert 12 hour clock to 24 hour clock
def convert_hour(time):
    in_time = datetime.strptime(time, "%I:%M %p")
    out_time = datetime.strftime(in_time, "%H")
    out_num = int(out_time)
    return out_num
# convert date to month and day
def convert_month(date):
    in_time = datetime.strptime(date, "%d-%b, %Y")
    out_time = datetime.strftime(in_time, "%m")
    out_num = int(out_time)
    return out_num
def convert_day(date):
    in_time = datetime.strptime(date, "%d-%b, %Y")
    out_time = datetime.strftime(in_time, "%d")
    out_num = int(out_time)
    return out_num
def convert_week(date):
    in_time = datetime.strptime(date, "%d-%b, %Y")
    out_time = datetime.strftime(in_time, "%w")    
    return out_time

In [37]:
from datetime import datetime
test['hour'] = test['Time of day'].apply(lambda x: convert_hour(x))
test['month'] =test['Date'].apply(lambda x: convert_month(x))
test['day'] = test['Date'].apply(lambda x: convert_day(x))
test['weekday'] = test['Date'].apply(lambda x: convert_week(x))
test["week"] = test.index // 168 + 1
test.head(50)

,Date,Time of day,act_price,fore_gen,fore_price,hour,month,day,weekday,week
0,"1-Jan, 2017",12:00 AM,20.96,0.00,21.54,0,1,1,0,1
1,"1-Jan, 2017",1:00 AM,20.90,0.00,14.80,1,1,1,0,1
2,"1-Jan, 2017",2:00 AM,18.13,0.00,22.66,2,1,1,0,1
3,"1-Jan, 2017",3:00 AM,16.03,0.00,22.27,3,1,1,0,1
4,"1-Jan, 2017",4:00 AM,16.43,0.00,19.19,4,1,1,0,1
5,"1-Jan, 2017",5:00 AM,13.75,0.00,1.64,5,1,1,0,1
6,"1-Jan, 2017",6:00 AM,11.10,0.00,18.46,6,1,1,0,1
7,"1-Jan, 2017",7:00 AM,15.47,0.00,9.85,7,1,1,0,1
8,"1-Jan, 2017",8:00 AM,16.88,0.02,24.30,8,1,1,0,1
9,"1-Jan, 2017",9:00 AM,21.81,0.11,26.86,9,1,1,0,1
10,"1-Jan, 2017",10:00 AM,26.24,0.33,34.09,10,1,1,0,1
11,"1-Jan, 2017",11:00 AM,26.42,0.49,28.65,11,1,1,0,1
12,"1-Jan, 2017",12:00 PM,27.66,0.61,27.42,12,1,1,0,1
13,"1-Jan, 2017",1:00 PM,28.70,0.55,22.77,13,1,1,0,1
14,"1-Jan, 2017",2:00 PM,29.66,0.42,30.89,14,1,1,0,1
15,"1-Jan, 2017",3:00 PM,35.33,0.19,28.98,15,1,1,0,1
16,"1-Jan, 2017",4:00 PM,44.12,0.00,44.76,16,1,1,0,1
17,"1-Jan, 2017",5:00 PM,51.59,0.00,45.47,17,1,1,0,1
18,"1-Jan, 2017",6:00 PM,53.95,0.00,53.50,18,1,1,0,1
19,"1-Jan, 2017",7:00 PM,50.97,0.00,51.06,19,1,1,0,1
20,"1-Jan, 2017",8:00 PM,44.93,0.00,51.25,20,1,1,0,1
21,"1-Jan, 2017",9:00 PM,38.83,0.00,28.31,21,1,1,0,1
22,"1-Jan, 2017",10:00 PM,42.17,0.00,41.65,22,1,1,0,1
23,"1-Jan, 2017",11:00 PM,33.06,0.00,38.39,23,1,1,0,1
24,"2-Jan, 2017",12:00 AM,30.54,0.00,31.35,0,1,2,1,1
25,"2-Jan, 2017",1:00 AM,28.91,0.00,32.46,1,1,2,1,1
26,"2-Jan, 2017",2:00 AM,28.11,0.00,28.93,2,1,2,1,1
27,"2-Jan, 2017",3:00 AM,27.89,0.00,29.40,3,1,2,1,1
28,"2-Jan, 2017",4:00 AM,27.73,0.00,28.88,4,1,2,1,1
29,"2-Jan, 2017",5:00 AM,31.18,0.00,28.40,5,1,2,1,1
30,"2-Jan, 2017",6:00 AM,37.99,0.00,43.65,6,1,2,1,1
31,"2-Jan, 2017",7:00 AM,50.98,0.00,52.64,7,1,2,1,1
32,"2-Jan, 2017",8:00 AM,53.88,0.01,55.70,8,1,2,1,1
33,"2-Jan, 2017",9:00 AM,53.94,0.07,41.78,9,1,2,1,1
34,"2-Jan, 2017",10:00 AM,53.54,0.13,55.70,10,1,2,1,1
35,"2-Jan, 2017",11:00 AM,54.91,0.14,50.63,11,1,2,1,1
36,"2-Jan, 2017",12:00 PM,54.08,0.12,61.95,12,1,2,1,1
37,"2-Jan, 2017",1:00 PM,55.67,0.07,48.23,13,1,2,1,1
38,"2-Jan, 2017",2:00 PM,55.98,0.02,56.25,14,1,2,1,1
39,"2-Jan, 2017",3:00 PM,56.00,0.01,55.16,15,1,2,1,1
40,"2-Jan, 2017",4:00 PM,57.77,0.00,56.49,16,1,2,1,1
41,"2-Jan, 2017",5:00 PM,67.66,0.00,73.71,17,1,2,1,1
42,"2-Jan, 2017",6:00 PM,55.10,0.00,58.22,18,1,2,1,1
43,"2-Jan, 2017",7:00 PM,53.92,0.00,51.69,19,1,2,1,1
44,"2-Jan, 2017",8:00 PM,49.07,0.00,51.18,20,1,2,1,1
45,"2-Jan, 2017",9:00 PM,40.25,0.00,39.26,21,1,2,1,1
46,"2-Jan, 2017",10:00 PM,45.92,0.00,49.29,22,1,2,1,1
47,"2-Jan, 2017",11:00 PM,38.88,0.00,34.85,23,1,2,1,1
48,"3-Jan, 2017",12:00 AM,36.02,0.00,28.30,0,1,3,2,1
49,"3-Jan, 2017",1:00 AM,34.98,0.00,26.62,1,1,3,2,1

In [38]:
test.tail(50)

,Date,Time of day,act_price,fore_gen,fore_price,hour,month,day,weekday,week
8710,"29-Dec, 2017",10:00 PM,26.90,0.00,30.99,22,12,29,5,52
8711,"29-Dec, 2017",11:00 PM,15.06,0.00,16.86,23,12,29,5,52
8712,"30-Dec, 2017",12:00 AM,16.40,0.00,21.97,0,12,30,6,52
8713,"30-Dec, 2017",1:00 AM,13.33,0.00,2.32,1,12,30,6,52
8714,"30-Dec, 2017",2:00 AM,13.25,0.00,19.44,2,12,30,6,52
8715,"30-Dec, 2017",3:00 AM,12.04,0.00,9.27,3,12,30,6,52
8716,"30-Dec, 2017",4:00 AM,11.45,0.00,8.63,4,12,30,6,52
8717,"30-Dec, 2017",5:00 AM,8.49,0.00,3.78,5,12,30,6,52
8718,"30-Dec, 2017",6:00 AM,9.83,0.00,9.44,6,12,30,6,52
8719,"30-Dec, 2017",7:00 AM,12.07,0.00,4.39,7,12,30,6,52
8720,"30-Dec, 2017",8:00 AM,13.41,0.00,14.37,8,12,30,6,52
8721,"30-Dec, 2017",9:00 AM,16.09,0.02,12.22,9,12,30,6,52
8722,"30-Dec, 2017",10:00 AM,18.80,0.05,9.99,10,12,30,6,52
8723,"30-Dec, 2017",11:00 AM,17.03,0.11,18.21,11,12,30,6,52
8724,"30-Dec, 2017",12:00 PM,17.67,0.15,16.82,12,12,30,6,52
8725,"30-Dec, 2017",1:00 PM,15.51,0.12,13.24,13,12,30,6,52
8726,"30-Dec, 2017",2:00 PM,17.61,0.02,17.08,14,12,30,6,52
8727,"30-Dec, 2017",3:00 PM,13.22,0.00,7.33,15,12,30,6,52
8728,"30-Dec, 2017",4:00 PM,14.02,0.00,17.11,16,12,30,6,52
8729,"30-Dec, 2017",5:00 PM,16.78,0.00,13.76,17,12,30,6,52
8730,"30-Dec, 2017",6:00 PM,16.01,0.00,17.97,18,12,30,6,52
8731,"30-Dec, 2017",7:00 PM,16.18,0.00,19.04,19,12,30,6,52
8732,"30-Dec, 2017",8:00 PM,11.13,0.00,3.40,20,12,30,6,52
8733,"30-Dec, 2017",9:00 PM,4.62,0.00,4.43,21,12,30,6,52
8734,"30-Dec, 2017",10:00 PM,4.71,0.00,-0.84,22,12,30,6,52
8735,"30-Dec, 2017",11:00 PM,-0.27,0.00,-3.79,23,12,30,6,52
8736,"31-Dec, 2017",12:00 AM,-2.04,0.00,-8.41,0,12,31,0,53
8737,"31-Dec, 2017",1:00 AM,-4.99,0.00,-3.95,1,12,31,0,53
8738,"31-Dec, 2017",2:00 AM,-0.59,0.00,-6.05,2,12,31,0,53
8739,"31-Dec, 2017",3:00 AM,-3.71,0.00,-2.79,3,12,31,0,53
8740,"31-Dec, 2017",4:00 AM,0.08,0.00,2.32,4,12,31,0,53
8741,"31-Dec, 2017",5:00 AM,1.16,0.00,-6.28,5,12,31,0,53
8742,"31-Dec, 2017",6:00 AM,-0.86,0.00,2.13,6,12,31,0,53
8743,"31-Dec, 2017",7:00 AM,4.09,0.00,8.53,7,12,31,0,53
8744,"31-Dec, 2017",8:00 AM,4.17,0.04,7.08,8,12,31,0,53
8745,"31-Dec, 2017",9:00 AM,4.21,0.14,7.30,9,12,31,0,53
8746,"31-Dec, 2017",10:00 AM,9.05,0.23,6.23,10,12,31,0,53
8747,"31-Dec, 2017",11:00 AM,9.20,0.32,11.01,11,12,31,0,53
8748,"31-Dec, 2017",12:00 PM,4.45,0.33,-5.40,12,12,31,0,53
8749,"31-Dec, 2017",1:00 PM,2.04,0.22,13.73,13,12,31,0,53
8750,"31-Dec, 2017",2:00 PM,0.06,0.12,-4.44,14,12,31,0,53
8751,"31-Dec, 2017",3:00 PM,0.36,0.05,-3.43,15,12,31,0,53
8752,"31-Dec, 2017",4:00 PM,1.46,0.00,-4.24,16,12,31,0,53
8753,"31-Dec, 2017",5:00 PM,6.14,0.00,-1.59,17,12,31,0,53
8754,"31-Dec, 2017",6:00 PM,9.96,0.00,8.94,18,12,31,0,53
8755,"31-Dec, 2017",7:00 PM,7.92,0.00,0.48,19,12,31,0,53
8756,"31-Dec, 2017",8:00 PM,4.06,0.00,6.72,20,12,31,0,53
8757,"31-Dec, 2017",9:00 PM,5.30,0.00,-0.57,21,12,31,0,53
8758,"31-Dec, 2017",10:00 PM,1.86,0.00,9.08,22,12,31,0,53
8759,"31-Dec, 2017",11:00 PM,-0.92,0.00,-3.39,23,12,31,0,53

In [39]:
#test.to_csv("da_2019_un.csv", index = None)
test.to_csv("pv_2017.csv",index = None)

# starting normalization

In [28]:
data = test.iloc[:,2:-1]
data

      act_price  fore_gen  fore_price  hour  month  day weekday
0         28.32       0.0   26.773090     0      1    1       2
1         10.07       0.0    5.203223     1      1    1       2
2         -4.08       0.0    4.974224     2      1    1       2
3         -9.91       0.0   -1.480704     3      1    1       2
4         -7.41       0.0   -5.538412     4      1    1       2
...         ...       ...         ...   ...    ...  ...     ...
8755      46.00       0.0   50.982301    19     12   31       2
8756      42.20       0.0   44.440320    20     12   31       2
8757      39.74       0.0   34.279184    21     12   31       2
8758      38.88       0.0   40.914738    22     12   31       2
8759      37.39       0.0   37.331624    23     12   31       2

[8760 rows x 7 columns]

In [29]:
from sklearn import preprocessing
scaler = preprocessing.MinMaxScaler()
names = data.columns
d = scaler.fit_transform(data)
scaled_data = pd.DataFrame(d, columns=names)
scaled_data.head()

   act_price  fore_gen  fore_price      hour  month  day   weekday
0   0.559559       0.0    0.545459  0.000000    0.0  0.0  0.333333
1   0.473259       0.0    0.447499  0.043478    0.0  0.0  0.333333
2   0.406346       0.0    0.446459  0.086957    0.0  0.0  0.333333
3   0.378777       0.0    0.417143  0.130435    0.0  0.0  0.333333
4   0.390599       0.0    0.398715  0.173913    0.0  0.0  0.333333

In [30]:
scaled_data.describe()

,act_price,fore_gen,fore_price,hour,month,day,weekday
count,8760.000000,8760.000000,8760.000000,8760.000000,8760.000000,8760.000000,8760.000000
mean,0.603781,0.176288,0.594905,0.500000,0.502366,0.490685,0.499543
std,0.073340,0.268453,0.074091,0.300982,0.313459,0.293225,0.333009
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,0.572516,0.000000,0.561364,0.250000,0.272727,0.233333,0.166667
50%,0.605618,0.000000,0.597785,0.500000,0.545455,0.500000,0.500000
75%,0.644441,0.283951,0.636292,0.750000,0.818182,0.733333,0.833333
max,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

In [31]:
scaled_data.rename(columns={
                     "act_price": "norm_ap",
                     "fore_gen": "norm_fg",
                     "fore_price": "norm_fp",
                     "hour": "norm_hh",
                     "month": "norm_mm",
                     "day": "norm_dd",
                     "weekday": "norm_ww"}, inplace = True)
scaled_data

       norm_ap  norm_fg   norm_fp   norm_hh  norm_mm  norm_dd   norm_ww
0     0.559559      0.0  0.545459  0.000000      0.0      0.0  0.333333
1     0.473259      0.0  0.447499  0.043478      0.0      0.0  0.333333
2     0.406346      0.0  0.446459  0.086957      0.0      0.0  0.333333
3     0.378777      0.0  0.417143  0.130435      0.0      0.0  0.333333
4     0.390599      0.0  0.398715  0.173913      0.0      0.0  0.333333
...        ...      ...       ...       ...      ...      ...       ...
8755  0.643165      0.0  0.655407  0.826087      1.0      1.0  0.333333
8756  0.625195      0.0  0.625696  0.869565      1.0      1.0  0.333333
8757  0.613562      0.0  0.579549  0.913043      1.0      1.0  0.333333
8758  0.609495      0.0  0.609684  0.956522      1.0      1.0  0.333333
8759  0.602450      0.0  0.593411  1.000000      1.0      1.0  0.333333

[8760 rows x 7 columns]

In [32]:
norm = pd.concat([test, scaled_data], axis=1)
norm

,Date,Time of day,act_price,fore_gen,fore_price,hour,month,day,weekday,week,norm_ap,norm_fg,norm_fp,norm_hh,norm_mm,norm_dd,norm_ww
0,"1-Jan, 2019",12:00 AM,28.32,0.0,26.773090,0,1,1,2,1,0.559559,0.0,0.545459,0.000000,0.0,0.0,0.333333
1,"1-Jan, 2019",1:00 AM,10.07,0.0,5.203223,1,1,1,2,1,0.473259,0.0,0.447499,0.043478,0.0,0.0,0.333333
2,"1-Jan, 2019",2:00 AM,-4.08,0.0,4.974224,2,1,1,2,1,0.406346,0.0,0.446459,0.086957,0.0,0.0,0.333333
3,"1-Jan, 2019",3:00 AM,-9.91,0.0,-1.480704,3,1,1,2,1,0.378777,0.0,0.417143,0.130435,0.0,0.0,0.333333
4,"1-Jan, 2019",4:00 AM,-7.41,0.0,-5.538412,4,1,1,2,1,0.390599,0.0,0.398715,0.173913,0.0,0.0,0.333333
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8755,"31-Dec, 2019",7:00 PM,46.00,0.0,50.982301,19,12,31,2,53,0.643165,0.0,0.655407,0.826087,1.0,1.0,0.333333
8756,"31-Dec, 2019",8:00 PM,42.20,0.0,44.440320,20,12,31,2,53,0.625195,0.0,0.625696,0.869565,1.0,1.0,0.333333
8757,"31-Dec, 2019",9:00 PM,39.74,0.0,34.279184,21,12,31,2,53,0.613562,0.0,0.579549,0.913043,1.0,1.0,0.333333
8758,"31-Dec, 2019",10:00 PM,38.88,0.0,40.914738,22,12,31,2,53,0.609495,0.0,0.609684,0.956522,1.0,1.0,0.333333
8759,"31-Dec, 2019",11:00 PM,37.39,0.0,37.331624,23,12,31,2,53,0.602450,0.0,0.593411,1.000000,1.0,1.0,0.333333

In [33]:
df = norm.loc[norm.index % 24 == 0]
df["Time of day"].describe()

count          365
unique           1
top       12:00 AM
freq           365
Name: Time of day, dtype: object

In [34]:
norm.to_csv("da_2019_norm.csv", index = None)