In [1]:
import os
import pandas as pd
import numpy as np

In [15]:
path = 'C:/Users/yuche/Dropbox/risk hedging/jupyter/original_data/year2019'
os.chdir(path)

In [18]:
wind2019 = pd.read_csv("fg_wind_2019.csv")
wind2019

            local_time  electricity
0        1/1/2019 0:00      230.102
1        1/1/2019 1:00      232.647
2        1/1/2019 2:00      227.402
3        1/1/2019 3:00      223.054
4        1/1/2019 4:00      230.716
...                ...          ...
8755  12/31/2019 19:00      123.794
8756  12/31/2019 20:00       93.355
8757  12/31/2019 21:00       51.716
8758  12/31/2019 22:00       34.824
8759  12/31/2019 23:00       21.754

[8760 rows x 2 columns]

In [19]:
wind2019['electricity'] = wind2019['electricity'].apply(lambda x: x/1000).round(2)
wind2019.head(30)

        local_time  electricity
0    1/1/2019 0:00         0.23
1    1/1/2019 1:00         0.23
2    1/1/2019 2:00         0.23
3    1/1/2019 3:00         0.22
4    1/1/2019 4:00         0.23
5    1/1/2019 5:00         0.25
6    1/1/2019 6:00         0.29
7    1/1/2019 7:00         0.31
8    1/1/2019 8:00         0.33
9    1/1/2019 9:00         0.38
10  1/1/2019 10:00         0.43
11  1/1/2019 11:00         0.48
12  1/1/2019 12:00         0.55
13  1/1/2019 13:00         0.58
14  1/1/2019 14:00         0.60
15  1/1/2019 15:00         0.64
16  1/1/2019 16:00         0.66
17  1/1/2019 17:00         0.67
18  1/1/2019 18:00         0.70
19  1/1/2019 19:00         0.72
20  1/1/2019 20:00         0.74
21  1/1/2019 21:00         0.77
22  1/1/2019 22:00         0.78
23  1/1/2019 23:00         0.77
24   1/2/2019 0:00         0.77
25   1/2/2019 1:00         0.74
26   1/2/2019 2:00         0.73
27   1/2/2019 3:00         0.73
28   1/2/2019 4:00         0.74
29   1/2/2019 5:00         0.74

In [20]:
path = 'C:/Users/yuche/Dropbox/risk hedging/jupyter/my_data'
os.chdir(path)

In [21]:
df2019 = pd.read_csv("da_2019_un.csv")
df2019

,Date,Time of day,act_price,fore_gen,fore_price,hour,month,day,weekday,week
0,"1-Jan, 2019",12:00 AM,28.32,0.0,26.773090,0,1,1,2,1
1,"1-Jan, 2019",1:00 AM,10.07,0.0,5.203223,1,1,1,2,1
2,"1-Jan, 2019",2:00 AM,-4.08,0.0,4.974224,2,1,1,2,1
3,"1-Jan, 2019",3:00 AM,-9.91,0.0,-1.480704,3,1,1,2,1
4,"1-Jan, 2019",4:00 AM,-7.41,0.0,-5.538412,4,1,1,2,1
...,...,...,...,...,...,...,...,...,...,...
8755,"31-Dec, 2019",7:00 PM,46.00,0.0,50.982301,19,12,31,2,53
8756,"31-Dec, 2019",8:00 PM,42.20,0.0,44.440320,20,12,31,2,53
8757,"31-Dec, 2019",9:00 PM,39.74,0.0,34.279184,21,12,31,2,53
8758,"31-Dec, 2019",10:00 PM,38.88,0.0,40.914738,22,12,31,2,53
8759,"31-Dec, 2019",11:00 PM,37.39,0.0,37.331624,23,12,31,2,53

In [22]:
df2019["fore_gen"] = wind2019["electricity"]
df2019

,Date,Time of day,act_price,fore_gen,fore_price,hour,month,day,weekday,week
0,"1-Jan, 2019",12:00 AM,28.32,0.23,26.773090,0,1,1,2,1
1,"1-Jan, 2019",1:00 AM,10.07,0.23,5.203223,1,1,1,2,1
2,"1-Jan, 2019",2:00 AM,-4.08,0.23,4.974224,2,1,1,2,1
3,"1-Jan, 2019",3:00 AM,-9.91,0.22,-1.480704,3,1,1,2,1
4,"1-Jan, 2019",4:00 AM,-7.41,0.23,-5.538412,4,1,1,2,1
...,...,...,...,...,...,...,...,...,...,...
8755,"31-Dec, 2019",7:00 PM,46.00,0.12,50.982301,19,12,31,2,53
8756,"31-Dec, 2019",8:00 PM,42.20,0.09,44.440320,20,12,31,2,53
8757,"31-Dec, 2019",9:00 PM,39.74,0.05,34.279184,21,12,31,2,53
8758,"31-Dec, 2019",10:00 PM,38.88,0.03,40.914738,22,12,31,2,53
8759,"31-Dec, 2019",11:00 PM,37.39,0.02,37.331624,23,12,31,2,53

In [23]:
data = df2019.iloc[:,2:5]
data

      act_price  fore_gen  fore_price
0         28.32      0.23   26.773090
1         10.07      0.23    5.203223
2         -4.08      0.23    4.974224
3         -9.91      0.22   -1.480704
4         -7.41      0.23   -5.538412
...         ...       ...         ...
8755      46.00      0.12   50.982301
8756      42.20      0.09   44.440320
8757      39.74      0.05   34.279184
8758      38.88      0.03   40.914738
8759      37.39      0.02   37.331624

[8760 rows x 3 columns]

In [24]:
from sklearn import preprocessing
scaler = preprocessing.MinMaxScaler()
names = data.columns
d = scaler.fit_transform(data)
scaled_data = pd.DataFrame(d, columns=names)
scaled_data.head()

   act_price  fore_gen  fore_price
0   0.559559  0.232323    0.545459
1   0.473259  0.232323    0.447499
2   0.406346  0.232323    0.446459
3   0.378777  0.222222    0.417143
4   0.390599  0.232323    0.398715

In [25]:
scaled_data.rename(columns={
                     "act_price": "norm_ap",
                     "fore_gen": "norm_fg",
                     "fore_price": "norm_fp",
                    }, inplace = True)
scaled_data

       norm_ap   norm_fg   norm_fp
0     0.559559  0.232323  0.545459
1     0.473259  0.232323  0.447499
2     0.406346  0.232323  0.446459
3     0.378777  0.222222  0.417143
4     0.390599  0.232323  0.398715
...        ...       ...       ...
8755  0.643165  0.121212  0.655407
8756  0.625195  0.090909  0.625696
8757  0.613562  0.050505  0.579549
8758  0.609495  0.030303  0.609684
8759  0.602450  0.020202  0.593411

[8760 rows x 3 columns]

In [26]:
norm = pd.concat([df2019, scaled_data], axis=1)
norm

,Date,Time of day,act_price,fore_gen,fore_price,hour,month,day,weekday,week,norm_ap,norm_fg,norm_fp
0,"1-Jan, 2019",12:00 AM,28.32,0.23,26.773090,0,1,1,2,1,0.559559,0.232323,0.545459
1,"1-Jan, 2019",1:00 AM,10.07,0.23,5.203223,1,1,1,2,1,0.473259,0.232323,0.447499
2,"1-Jan, 2019",2:00 AM,-4.08,0.23,4.974224,2,1,1,2,1,0.406346,0.232323,0.446459
3,"1-Jan, 2019",3:00 AM,-9.91,0.22,-1.480704,3,1,1,2,1,0.378777,0.222222,0.417143
4,"1-Jan, 2019",4:00 AM,-7.41,0.23,-5.538412,4,1,1,2,1,0.390599,0.232323,0.398715
...,...,...,...,...,...,...,...,...,...,...,...,...,...
8755,"31-Dec, 2019",7:00 PM,46.00,0.12,50.982301,19,12,31,2,53,0.643165,0.121212,0.655407
8756,"31-Dec, 2019",8:00 PM,42.20,0.09,44.440320,20,12,31,2,53,0.625195,0.090909,0.625696
8757,"31-Dec, 2019",9:00 PM,39.74,0.05,34.279184,21,12,31,2,53,0.613562,0.050505,0.579549
8758,"31-Dec, 2019",10:00 PM,38.88,0.03,40.914738,22,12,31,2,53,0.609495,0.030303,0.609684
8759,"31-Dec, 2019",11:00 PM,37.39,0.02,37.331624,23,12,31,2,53,0.602450,0.020202,0.593411

In [27]:
norm.to_csv("wind_2019_norm.csv", index = None)